*{
  margin: 0;
  padding: 0;
}
body{
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:mediumaquamarine;
  font-size: 30px;
}
.container{
  text-align: center;
  align-items: center;
  background-color:aliceblue;
  height: 200px;
  width: 600px;
  padding: 10px;
  box-shadow: 2px 1px 5px black;
}
.question-section h5{
  color: blue;
}
.question-section{
  margin-top: 20px;
}
.answer-section{
  margin-top: 10px;
}
.answer-section button{
  margin-left: 10px;
  height: 30px;
  width: 100px;
  text-align: center;
  padding: 3px;
  background-color:lightskyblue;
  border: none;
  border-radius: 10px;
  color: lightblack;
}
.timer-section{
  margin-top: 20px;
  font-size: 20px;
}
.timer-section span{
  font-weight: bolder;
}
.answer-section button:hover{
  cursor: pointer;
  filter:brightness(1.1)
}
.score-section button{
  background-color: orangered;
  filter: brightness(1.2);
  color: white;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 7px;
}
.score-section{
  margin-top: 50px;
  justify-content: center;
  align-items: center;

}
.score-section button:hover{
  cursor: pointer;
  filter: brightness(1.2);
}